# /conversions.erb

<!DOCTYPE html>
<html>
  <head>
    <title>Target: Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>Convert BAM to ALL</h1>

<p>1 BAM equals 50.644722 ALL.</p>

<p>Go <a href="/BAM">back</a>.</p>

  </body>
</html>
