
<!DOCTYPE html>
<html>
  <head>
    <title>Target: Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>Currency pairs</h1>





<ul>
  <% @currencies.each do |x, y| %>
    <li>
      <a href="/<%= x %>">
        Convert 1 <%= x %> to...
      </a>
    </li>
  <% end %>   
</ul>

  </body>
</html>
